@{
    ViewData["Title"] = "Detalles";
}

@model CLIENT.Models.ViewModels.TarjetaCreditoVM

<div class="container-xl">
    <p class="fw-bold">Detalles de la tarjeta</p>
</div>

<div class="container-xl">
    <div class=" shadow-lg p-3 detallesTarjeta">
        <div class="d-flex justify-content-between">
            <div>
                <div>
                    <p>Nombre titular en tarjeta</p>
                    <h3>@Model.nombreTitular</h3>
                </div>
                <div>
                    <p>Número de Tarjeta</p>
                    <h3>@Model.numeroTarjeta</h3>
                </div>
            </div>
            <div>
                <div>
                    <p>Saldo Disponible</p>
                    <h3>@Model.disponible.ToString("C")</h3>
                </div>
                <div>
                    <p>Saldo Actual</p>
                    <h3>@Model.saldoTotal.ToString("C")</h3>
                </div>
                <div>
                    <p>Límite Crédito</p>
                    <h3>@Model.montoOtorgado.ToString("C")</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <div>
                            <p>Cuota mínima</p>
                            <h3>@Model.cuotaMinima.ToString("C")</h3>
                        </div>
                        <div>
                            <p>Monto total con interés</p>
                            <h3>@Model.totalContadoConInteres.ToString("C")</h3>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <p>Interés bonificable</p>
                            <h3>@Model.interesBonificable.ToString("C")</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-end gap-3">
            <button class="btn colorAtlantida text-light shadow-lg" onclick="OpenModalMovimiento(@Model.id, 1)"> Comprar <i class="fas fa-credit-card ms-3"></i></button>
            <button class="btn colorAtlantida text-light shadow-lg" onclick="OpenModalMovimiento(@Model.id, 2)">Pagar <i class="fas fa-credit-card ms-3"></i></button>
        </div>
        <!--Seccion de listado de los movimientos-->
    </div>
    <div class="movimientosTarjeta mt-3">
        <p class="fw-bold">Detalle de compras</p>
        <div class="row mt-2 mb-2">
            <div class="col-lg-12 d-flex flex-column align-items-end">
                <p class="text-secondary">Seleccione un filtro para los registros:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mes" id="mesActual" value="mesActual" checked>
                    <label class="form-check-label" for="mesActual">
                        Mes presente
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mes" id="mesPasado" value="mesPasado">
                    <label class="form-check-label" for="mesPasado">
                        Mes pasado
                    </label>
                </div>
            </div>
        </div>
        <div id="ListadoMovimientos" class="ListadoMovimientos">
        </div>
    </div>
</div>


<!--Usaremos un modal para agregar un pago o una compra-->
<div class="modal fade" id="ModalMovimiento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p   class="modal-title" id="exampleModalLabel">Movimiento<br /></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalCuerpoMovimiento">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        //Al cargar la vista mostraremos las compras de la tarjeta
        $(document).ready(function () {
            var fechaActual = new Date();
            var mesActual = fechaActual.getMonth() + 1;
            var anioActual = fechaActual.getFullYear();
            Listado(mesActual, anioActual);

            $('#mesActual, #mesPasado').change(function () {
                if ($(this).is(':checked')) {
                    // Ejecutar una función aquí cuando un radio button cambie
                    // Por ejemplo, puedes llamar a otra función o realizar alguna tarea específica
                    console.log("El radio button seleccionado es: " + $(this).val());
                }
            });
        })
        //Funcion para cargar el listado
        function Listado(mes, anio) {
            var url = '@Url.Action("Listado", "Movimiento")';
            url += '?id=' + encodeURIComponent(@Model.id) + '&numeroTarjeta=' + encodeURIComponent(@Model.numeroTarjeta) + "&mes=" + encodeURIComponent(mes) + "&anio=" + encodeURIComponent(anio);
            CallAsync("GET", url, "#ListadoMovimientos")
        }
        //Fucion para abrir el modal de movimientos
        function OpenModalMovimiento(id, tipo) {
            var url = '@Url.Action("Movimiento", "Movimiento")';
            url += '?idTarjeta=' + encodeURIComponent(id) + '&tipoMovimiento=' + encodeURIComponent(tipo);
            CallAsync("GET", url, "#modalCuerpoMovimiento")
            $('#ModalMovimiento').modal('show');
        }
        //Funcion para enviar los datos
        function SendDataFormAdd() {
            let form = $('#FormMovimiento').serialize();
            $.ajax({
                url: '@Url.Action("Movimiento", "Movimiento")',
                type: 'POST',
                data: form,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerficationToken"]').val() },
                success: function (response) {
                    if (response.estado == "Error") {
                        alertify.error("Ha ocurrido un error");
                    } else if (response.estado == "Todo bien") {
                        alertify.success("Información Guardada con éxito");
                        $('#ModalMovimiento').modal('hide');
                    } else {
                        $('#modalCuerpoMovimiento').html(response);
                    }
                }
            })
        }

    </script>
}


